In [1]:
import pandas as pd
df = pd.read_csv('Rent Data.csv')

In [2]:
df.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

In [3]:
df.shape

(30, 2)

# Min-Max Scaller

In [4]:
from sklearn.preprocessing import MinMaxScaler

In [5]:
m = MinMaxScaler()

In [6]:
scaled1 = m.fit(df[['area']])

In [7]:
scaled1

MinMaxScaler()

In [8]:
df.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

In [9]:
df['area'] = m.transform(df[['area']])

In [10]:
df.head()

       area   rent
0  0.347826  31500
1  0.391304  35000
2  0.565217  41050
3  0.456522  36100
4  0.782609  52100

In [11]:
df['rent'] = m.fit_transform(df[['area']])

In [12]:
df.head()

       area      rent
0  0.347826  0.347826
1  0.391304  0.391304
2  0.565217  0.565217
3  0.456522  0.456522
4  0.782609  0.782609