In [1]:
import pandas as pd
df = pd.read_csv('Rent Data.csv')

In [2]:
df.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

In [6]:
from sklearn.preprocessing import MaxAbsScaler
scaler = MaxAbsScaler()

In [7]:
df.rent = scaler.fit_transform(df[['rent']])

In [8]:
df.head()

   area      rent
0  2000  0.450000
1  2100  0.500000
2  2500  0.586429
3  2250  0.515714
4  3000  0.744286

In [9]:
df.area = scaler.fit_transform(df[['area']])

In [10]:
df.head()

       area      rent
0  0.571429  0.450000
1  0.600000  0.500000
2  0.714286  0.586429
3  0.642857  0.515714
4  0.857143  0.744286