# Standardization

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Rent Data.csv")

In [3]:
df.head()

   area   rent
0  2000  31500
1  2100  35000
2  2500  41050
3  2250  36100
4  3000  52100

# Standardization

In [4]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [5]:
scaler1 = scaler.fit(df[['area']])

In [6]:
scaler1

StandardScaler()

In [7]:
df['area'] = scaler1.transform(df[['area']])

In [8]:
df.head()

       area   rent
0 -0.536958  31500
1 -0.350082  35000
2  0.397424  41050
3 -0.069767  36100
4  1.331805  52100

In [9]:
scaler2 = scaler.fit(df[['rent']])

In [10]:
scaler2

StandardScaler()

In [11]:
df['rent'] = scaler2.transform(df[['rent']])

In [12]:
df.head()

       area      rent
0 -0.536958 -0.489459
1 -0.350082 -0.188491
2  0.397424  0.331752
3 -0.069767 -0.093902
4  1.331805  1.281948

# I can't run std(), mean()
scaler1.std()